[submodule "scripts/.wemux"]
	path = scripts/.wemux
	url = https://github.com/zolrath/wemux.git
[submodule "bashrc.d/.z"]
	path = bashrc.d/.z
	url = https://github.com/rupa/z.git
[submodule "link/vim/bundle/Vundle.vim"]
	path = link/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "link/oh-my-zsh"]
	path = link/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
